body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(44, 185, 56);
}

.quiz-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 600px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

h1 {
    color: #2c3e50;
}

p {
    font-size: 18px;
    color: #34495e;
}

.question {
    margin: 20px 0;
    text-align: left;
}

.button {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.button:hover {
    background-color: #2ecc71;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #e74c3c;
}

/* Hide inactive panels */
#quiz-panel, #result-panel {
    display: none;
}

#result img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

